h1 {
  text-align: center;
}

body {
  align-content: center;
  background-image: radial-gradient(lime, #acffa8, #d5ffd3);
}

button {
  padding: 2.5em;
  background-image: linear-gradient(#ddffef, #afffaa);
  display: inline-block;
  width: 100px;
  height: 100px;
}

button:hover {
  background-image: linear-gradient(#bed8cc, #88c984);
}

.button {
  text-align: center;
  margin: 3px;
  font-family: sans-serif;
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.display {
  border-style: groove;
  width: 24em;
  height: 2em;
  background-color: white;
}

#equal {
  width: 13em;
}

#percentage {
  width: 13em;
}

#negative {
  width: 13em;
}

#display {
  text-align: right;
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

input {
  text-align: right;
  height: 60px;
  width: 428px;
}
